:root {
  --white: #ffffff;
  --black: #1f1f1f;
  --gray: #f4f7f6;
  --gray-dark: #6c7680;
  --blue: #2e8bc0;
}

body,
html {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  line-height: 1.5;
  font-size: 16px;
  color: var(--black);
  text-align: left;
  background-color: lightgray;
  height: 100%;
}

* {
  margin: 0;
  padding: 0;
}

button {
  border: 0;
  cursor: pointer;
  font-weight: 400;
  padding: 6px;
  border-radius: 16px;
  color: var(--white);
  background: var(--gray-dark);

  &:hover {
    background: var(--white);
    color: var(--gray-dark);
  }
}
